@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Trang's Gaming</h1>

<div class="table-responsive">
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Product Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Xbox Games</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Arcade</td>
                <td>$5/hour</td>
            </tr>
        </tbody>
    </table>
</div>


<h2>About Trang's Gaming</h2>
<p class="bg-dark text-white user-select-all">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Faucibus et molestie
    ac feugiat sed. Suscipit tellus mauris a diam maecenas sed. At tempor
    commodo ullamcorper a lacus vestibulum. Mi bibendum neque egestas congue
    quisque egestas diam. In egestas erat imperdiet sed euismod nisi porta.
    Et sollicitudin ac orci phasellus egestas tellus. Leo vel orci porta non
    pulvinar neque laoreet suspendisse interdum. In iaculis nunc sed augue
    lacus. Eu augue ut lectus arcu bibendum at varius.
</p>